pyicu==2.15.3 ; sys_platform == 'linux' or sys_platform == 'darwin'
dbus-fast==2.44.3 ; sys_platform == 'linux'
winrt-windows-storage-streams ; sys_platform == 'win32'
winrt-windows-media-control ; sys_platform == 'win32'
