aiocache==0.12.3
aiofiles==25.1.0
aiohttp==3.13.5
aiosqlite==0.22.1
chardet<8 # required by requests
charset-normalizer==3.4.7
defusedxml==0.7.1
discord.py==2.7.1
diskcache==5.6.3
jinja2==3.1.6
lxml==6.1.0
netifaces-plus==0.12.5
nltk==3.9.4
pillow==12.2.0
pillow_avif_plugin==1.5.5
psutil==7.2.2
puremagic<2; python_version < "3.12"
puremagic==2.1.1; python_version >= "3.12"
pyacoustid==1.3.1
pypresence==4.6.1
# 6.5.0-6.5.3's rcc is broken on macOS; 6.5+ required for Qt.ColorScheme / colorSchemeChanged
pyside6>=6.5.4,<6.12.0
rapidfuzz==3.14.5
requests-cache==1.3.1
requests==2.33.1
simpleobsws==1.4.3
truststore==0.10.4
twitchAPI==4.5.0
url_normalize==2.2.1
watchdog==6.0.0
wnpmb @ https://github.com/whatsnowplaying/wnpmb/releases/download/0.1.10/wnpmb-0.1.10-py3-none-any.whl
zeroconf==0.148.0

#
# PyICU + Normality is a special hell
#
# normality < 3 works without pyicu
#
# Windows builds of PyICU are a nightmare.
# a lot of this comes down to the stupidity that is the Python
# packaging system.  I'd love to use pyicu-wheels here but it can't
# alias itself as pyicu generically :(

pyicu==2.16.2 ; sys_platform != 'win32' # requires Homebrew icu4c on macOS

# --- WINDOWS (Pre-compiled Binaries) ---
# Each line checks your Python version and architecture to pull the right wheel.
# These use the 2.16.2 release from GitHub to satisfy the 'PyICU' name requirement.

PyICU @ https://github.com/cgohlke/pyicu-build/releases/download/v2.16.2/pyicu-2.16.2-cp311-cp311-win_amd64.whl ; sys_platform == 'win32' and python_version == '3.11'
PyICU @ https://github.com/cgohlke/pyicu-build/releases/download/v2.16.2/pyicu-2.16.2-cp312-cp312-win_amd64.whl ; sys_platform == 'win32' and python_version == '3.12'
PyICU @ https://github.com/cgohlke/pyicu-build/releases/download/v2.16.2/pyicu-2.16.2-cp313-cp313-win_amd64.whl ; sys_platform == 'win32' and python_version == '3.13'
PyICU @ https://github.com/cgohlke/pyicu-build/releases/download/v2.16.2/pyicu-2.16.2-cp314-cp314-win_amd64.whl ; sys_platform == 'win32' and python_version == '3.14'
normality==3.1.0

#
# required to install
#
versioningit==3.3.0
vendoring==1.2.0
