# 6.5.x's rcc is broken on macos
aiocache==0.12.3
aiofiles==25.1.0
aiohttp==3.13.3
aiosqlite==0.22.1
defusedxml==0.7.1
discord.py==2.6.4
diskcache==5.6.3
jinja2==3.1.6
lxml==6.0.2
netifaces-plus==0.12.5
nltk==3.9.2
normality==2.6.1
pillow==12.1.0
pillow_avif_plugin==1.5.2
puremagic==1.30
pyacoustid==1.3.0
pypresence==4.6.1
pyside6>6.3.2,!=6.5.*,<6.11.0
rapidfuzz==3.14.3
requests-cache==1.2.1
requests==2.32.5
simpleobsws==1.4.3
twitchAPI==4.5.0
url_normalize==2.2.1
watchdog==6.0.0
zeroconf==0.148.0

#
# required to install
#
versioningit==3.3.0
vendoring==1.2.0
