# yamllint disable rule:line-length
---
name: Static Linting

on: [push]  # yamllint disable-line rule:truthy

permissions:
  checks: write
  contents: read
  issues: write
  pull-requests: write
  statuses: write

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: checkout
        uses: actions/checkout@v6
        with:
          path: src
          fetch-depth: 0
      - name: test-patch
        uses: apache/yetus-test-patch-action@main
        with:
          basedir: ./src
          patchdir: ./out
          githubtoken: ${{ secrets.GITHUB_TOKEN }}
          plugins: 'all,-asflicense,-author,-findbugs,-gitlab,-jira,-jshint,-shelldocs'
      - name: Artifact output
        if: ${{ always() }}
        uses: actions/upload-artifact@v6
        with:
          name: apacheyetustestpatchactionout
          path: ${{ github.workspace }}/out
